{% extends "base.html" %}


{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<header class="bg-gray py-5 d-flex justify-content-center align-items-center rounded-3">
    <video class="img-fluid" style="width: 1200px; height: 300px; object-fit: cover;" autoplay muted>
        <source src="https://ilabisbkt.s3.us-east-1.amazonaws.com/112.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</header>



<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        {% include "popular.html" %}
        {% include "new_arrival.html" %}
        <!-- Add more sections as needed -->
    </div>
</section>
{% endblock %}
